body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
padding: 0;
margin: 0;
background-color: var(--main-color);
height: 100vh;

}
header{
display: flex;
background: var(--bcgrcolor);
background-size: cover;
padding: 10px;

}

.hedcont{
display: flex;
justify-content: space-between;
margin: 0 auto;
max-width: 1233px;
}

.logo img {
max-width: 160px;
height: auto;
margin-right: 350PX;
}

.nav {
margin-top: 15px;
text-align: center;
}

.nav a{
margin: 20px;
text-decoration: none;
color: black;
}

.nav a:hover {
color:   var(--hover-color);
}

/* index */


.trust-section {
padding: 40px;
text-align: center;
}

.trust-section h2 {
font-size: 32px;
margin-bottom: 20px;
}

.circles-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.circle {
background-color: #fff;
border-radius: 50%;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
width: 200px;
height: 200px;
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.circle img {
width: 120px;
margin-bottom: 0px;
}
#time img{
width: 90px;
}

#time p{
margin-top: 5px;
}

.circle p {
font-size: 20px;
margin: 0;
padding-bottom: 20px;
margin-top: -10px;
}

.call-to-action {
font-size: 32px;
margin-top: 40px;
color: #0069d9;
}

.avtomob {
background-color: var(--bcgrcolor);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-section {
max-width: 800px;
margin: 0 auto;
}

h2 {
font-size: 24px;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
font-size: 18px;
font-weight: bold;
color: #333;
margin-bottom: 5px;
}

input,
select {
width: 100%;
height: 40px;
border: 2px solid #ccc;
border-radius: 5px;
font-size: 16px;
padding: 5px;
}

input[type="text"]:focus,
select:focus {
border-color: #007bff;
outline: none;
}

button[type="submit"] {
background-color: var(--button-color);
color: #fff;
border: none;
border-radius: 5px;
font-size: 18px;
padding: 10px 20px;
cursor: pointer;
width: 100%;
}

button[type="submit"]:hover {
background-color:   var(--hover-color);
}

.news{
margin: 10px;
}

.news-section {
background-color: var(--main-color);
padding: 40px;
text-align: center;
}

.news-section h2 {
font-size: 32px;
margin-bottom: 20px;
}

.news-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.news-item {
flex-basis: calc(33.33% - 40px);
margin: 20px;
height: 625px;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}

.news-item img {
max-width: 100%;
height: auto;
}

.news-item h3 {
font-size: 24px;
margin: 10px;
}

.news-item p {
font-size: 16px;
margin: 10px;
}

.news-item {
position: relative;
flex-basis: calc(33.33% - 40px);
margin: 20px;
height: 655px;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}

.btn {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
display: block;
padding: 10px 20px;
background-color: var(--button-color);
color: #fff;
text-decoration: none;
border-radius: 5px;
transition: all 0.3s ease;
}

.btn:hover {
background-color:   var(--hover-color);
}

/* index-close */

/* footer */

footer {
background-color: var(--bcgrcolor);
padding: 20px;
}

.footer-container {
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-contact p {
font-size: 16px;
color: #555;
}

.footer-nav {
display: flex;
}

.footer-nav a {
margin-right: 26px;
font-size: 16px;
color: #555;
text-decoration: none;
}

.footer-nav a:hover {
color:   var(--hover-color);
}

/* footer-close */

/* branches */

form {
max-width: 1200px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
padding: 20px;
}

.branch-locations {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

.branch-locations {
display: table;
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}
.branch-list {
display: table-cell;
vertical-align: top;
padding: 10px;
border: 1px solid #ccc;
}
h3 {
margin-top: 0;
margin-bottom: 10px;
}
ul {
margin-top: 0;
padding-left: 20px;
}
li {
margin-bottom: 5px;
}

.branches-cont{
  padding: 30px;
}

#map{
  margin-left: 300px;
}

/* branches-close */

/* history */

.booking-history {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

.booking-history h2 {
font-size: 26px;
}

.booking-history a button {
padding: 10px 20px;
width: 400px;
font-size: 16px;
background-color: #007bff;
background-color: var(--button-color);
color: #fff;
border: none;
border-radius: 5px;
margin-top: 10px;
cursor: pointer;
}

.booking-history a button:hover {
background-color: #0069d9;
background-color:   var(--hover-color);
}

.booking-info {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin-top: 20px;
}

.booking-info > div {
width: 45%;
}

.booking-info h3 {
margin-top: 0;
margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
}

.booking-info div {
margin-bottom: 10px;
}

.booking-info span:first-of-type {
margin-right: 10px;
font-weight: bold;
font-size: 16px;
}

.booking-info img {
max-width: 100%;
height: auto;
margin-top: 10px;
}

.repeat-booking-btn {
padding: 10px 20px;
font-size: 16px;
background-color: #007bff;
background-color: var(--button-color);
color: #fff;
border: none;
border-radius: 5px;
margin-top: 10px;
cursor: pointer;
}

.repeat-booking-btn:hover {
background-color: #0069d9;
background-color:   var(--hover-color);
}

@media (max-width: 768px) {
.booking-info > div {
  width: 100%;
}
}

/* history-close */

:root {
--main-color: #ebebeb;
--bcgrcolor: #f8f8f8;
--button-color:#007bff;
--hover-color:#0069d9;
}

/* login */

.login-cont {
  display: flex;
  justify-content: center;
  padding: 60px;
  background-color: #ebebeb;
}

.login-block {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--bcgrcolor);
  text-align: center;
}

.login-block h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-block form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-block label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-block input[type="tel"],
.login-block input[type="password"],
.login-block input[type="email"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-block a button [type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-block a button[type="submit"]:hover {
  background-color:   var(--hover-color);
}

.login-block a{
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;

}

/* login-close */

/* profile */

.profile-cont{
  max-width: 1233px;
  margin: 0 auto ;
}

.profile-cont a {
  margin-bottom: 20px;
}

.profile-section {
  flex: 1;
  padding: 20px;
}

.profile-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-section a {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--button-color);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color:   var(--hover-color);
}



.profile-but[type="submit"] {
  background-color: var(--button-color);
  border: none;
  width: 400px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  transition: background-color 0.3s;
}

.profile-but [type="submit"]:hover {
  background-color:   var(--hover-color);
}

.profile-but {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}



.profile-info h2 {
  font-size: 1.5rem;
}

.profile-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-info li {
  margin-bottom: 10px;
}

.profile-info strong {
  display: inline-block;
  width: 200px;
}

.profile-info, .rental-history {
  margin-bottom: 40px;
}

.profile-info h2, .rental-history h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.profile-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-info li {
  margin-bottom: 10px;
}

/* profile-close */

/* card */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit-profile {
  color: var(--button-color);
  display: block;
  margin-top: 20px;
}

.rental-history table {
  border-collapse: collapse;
  width: 100%;
}

.rental-history th, .rental-history td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.rental-history th {
  background-color: #333;
  color: #fff;
}

.rental-history tr:nth-child(even) {
  background-color: #f2f2f2;
}

.rental-history tr:hover {
  background-color: #ddd;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.card {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  position: relative;
}
.card .delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.card .delete:hover {
  background-color:   var(--hover-color);
}
.card .type {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card .number {
  font-size: 18px;
  margin-bottom: 10px;
}
.card .activity {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}



/* Модальное окно */



.popup-box {
width: 50%;
margin: 0 auto;
margin-bottom: 100px;
padding: 20px;
background-clip: padding-box;
text-align: center;
}

.popup-button {
padding: 10px;
color: #ffffff;
border-radius: 10px;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;
background-color: var(--button-color);
}

.popup-button:hover {
background: var(--hover-color);
}

.popup-overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}

.popup-overlay:target {
visibility: visible;
opacity: 1;
}

.popup-content {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup-content h2 {
margin-top: 20px;
}

.popup-close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}

.popup-close:hover {
color:#000;
}

.popup-text {
max-height: 30%;
overflow: auto;
}

.popup-text form {
display: flex;
flex-direction: column;
align-items: center;
}

.popup-text label {
margin-top: 10px;
font-weight: bold;
}

.popup-text input[type="text"],
textarea {
margin-top: 5px;
padding: 5px;
border-radius: 5px;
border: 2px b;
box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.3);
}

.popup-text input[type="submit"] {
margin-top: 10px;
background-color: var(--button-color);
color: #fff;
cursor: pointer;
transition: all 0.3s ease-out;
}

.popup-text input[type="submit"]:hover {
background-color: var(--hover-color);
}

/* card-close */

/* booking */

.booking-cont {
display: flex;
justify-content: space-between;
align-items: flex-start;
max-width: 1200px;
margin: 0 auto;
padding: 50px;
}

.car-info {
width: 45%;
}

.card-info {
width: 40%;
}

.car-info button {
margin-top: 10px;
}

.car-info button h3 {
  font-size: 20px;
  margin: 5px;
  }

.car-book img {
width: 600px ;
}

.booking-cont h1, h2, p, label {
margin: 0;
font-size: 16px;
line-height: 1.4;
}

.booking-cont h1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.booking-cont h2 {
font-size: 26px;
font-weight: bold;
margin-top: 30px;
margin-bottom: 10px;
}

.booking-cont p {
margin-bottom: 10px;
}

.booking-cont label {
font-weight: bold;
margin-top: 10px;
display: block;
}

.car-info-txt h1, p{
  font-size: 26px;
}

.card-info input[type="text"], .card-info input[type="tel"], .card-info textarea, .card-info select {
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
margin-top: 5px;
width: 100%;
}

.card-info input[type="date"], .card-info input[type="number"] {
width: auto;
}

.booking-cont button{
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
margin-right: 10px;
cursor: pointer;
}

.buttons {
margin-top: 20px;
display: flex;
flex-direction: row;
justify-content: center;
}

.buttons button h3 {
  font-size: 20px;
  margin: 2px;
  }


.buttons button:last-child {
margin-right: 0;
}

.final-price {
font-size: 30px;
font-weight: bold;
margin-top: 20px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
.booking-cont {
flex-direction: column;
padding: 20px;
}

.car-info, .card-info {
width: 100%;
margin-bottom: 20px;
}

.buttons {
flex-direction: column;
}

.buttons button {
margin-right: 0;
margin-bottom: 10px;
}
}

/* booking-close */

main{
max-width: 1233px;
margin: 0 auto;
}

/* car-selection */

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
 main{
  margin: 0 auto;
  max-width: 1233px;
  
 }

.car-selection-cont{
  padding: 40px;
}

 .car-selection {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  
  
}

.car-selection form{
  display: block;
}

.car-selection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group-sel {
  margin-bottom: 10px;
}

.form-group-sel label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group-sel select,
.form-group-sel input[type="text"],
.form-group-sel input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group-sel button[type="submit"],
.form-group-sel button.cancel-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0074d9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.form-group-sel button.cancel-btn {
  background-color: #ccc;
  margin-left: 10px;
}

.form-group-sel button[type="submit"]:hover,
.form-group-sel button.cancel-btn:hover {
  background-color: #0063aa;
}

@media screen and (max-width: 768px) {
  .car-selection {
    width: 100%;
  }
}

/* car-selection close */

/* profile */

.profile-cont{
  padding-top: 30px;
}

.user-info {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  padding-right: 40px;
}

.user-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-details p {
  margin-bottom: 10px;
}

.user-details strong {
  font-weight: bold;
}

.user-details button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--bcgrcolor);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.user-details button.logout-btn {
  background-color: var(--button-color);
  margin-left: 10px;
}

.user-details button:hover {
  background-color: var(--hover-color);
}

.bookings h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.booking p {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .user-info {
    width: 100%;
  }
}

/* profile close */